
CREATE USER %DBROOTUSER% IDENTIFIED BY %DBRWPW%
DEFAULT TABLESPACE USERS
TEMPORARY TABLESPACE TEMP;


-- Grant/Revoke role privileges
grant connect to %DBROOTUSER% with admin option;
grant resource to %DBROOTUSER%;
-- Grant/Revoke system privileges
grant create any synonym to %DBROOTUSER%;
grant create role to %DBROOTUSER%;
grant create user to %DBROOTUSER%;
grant drop user to %DBROOTUSER%;
grant unlimited tablespace to %DBROOTUSER%;
grant dba to %DBROOTUSER%;
