#
# this example shows use of opensips's provisioning interface
#

# ------------------ module loading ----------------------------------

#set module path
mpath="/usr/local/lib64/opensips/modules/"


#### DB MYSQL module
loadmodule "db_mysql.so"

#### HTTPD module
loadmodule "httpd.so"
modparam("httpd", "port", 8888)

#### MI HTTP module
# this is to allow HTML interface for the MI commands
loadmodule "mi_http.so"

#### Provioning Interface HTTP module
loadmodule "pi_http.so"
 modparam("pi_http", "framework", "/usr/local/share/opensips/pi_http/pi_framework.xml")

# -------------------------  request routing logic -------------------

# main routing logic
# (not relevant here, we just want to show the provioning HTML interface)

route{
	exit;
}

