*.o
*.d
*.so
*.sw?
tags
cscope*

# /
/cfg.tab.c
/cfg.tab.h
/lex.yy.c
/opensips
/debian
/curses.out
/.svnrevision
/.gitrevision

# /doc/
/doc/database

# /menuconfig/
/menuconfig/configure
/Makefile.conf
/mem/mem_stats.c
/mem/mem_stats.h

# /utils/opensipsunix/
/utils/opensipsunix/opensipsunix

# miscellaneous files
core
core.*
out
log
*.log
*.html
