[submodule "modules/wolfssl/lib/wolfssl"]
	path = modules/tls_wolfssl/lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "modules/launch_darkly/lib/c-server-sdk"]
	path = modules/launch_darkly/lib/c-server-sdk
	url = https://github.com/launchdarkly/c-server-sdk.git
