*.o
*.d
*.so
*.a
*.sw?
tags
cscope*

# /
/cfg.tab.c
/cfg.tab.h
/lex.yy.c
/opensips
/debian
/curses.out
/.svnrevision
/.gitrevision

# /doc/
/doc/database

# /menuconfig/
/menuconfig/configure
/Makefile.conf
/mem/mem_stats.c
/mem/mem_stats.h

# /modules/
modules/tls_wolfssl/lib

# miscellaneous files
core
core.*
out
log
*.log
*.html
