language: c
compiler: gcc
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y libsqlite3-dev libsctp-dev libradiusclient-ng-dev libhiredis-dev unixodbc-dev libconfuse-dev libmysqlclient-dev libexpat1-dev libxml2-dev libpq-dev flex bison zlib1g-dev libperl-dev libsnmp-dev libdb-dev libldap2-dev libcurl4-gnutls-dev libgeoip-dev libpcre3-dev libmemcached-dev libmicrohttpd-dev librabbitmq-dev liblua5.1-dev libncurses5-dev libjson0-dev libmemcache-dev libxmlrpc-c3-dev
script: make exclude_modules="db_oracle osp sngtc cachedb_cassandra cachedb_couchbase cachedb_mongodb" all
