#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ALL_PACKAGES = opensips opensips-mysql-module opensips-postgres-module \
	opensips-jabber-module opensips-cpl-module opensips-radius-modules \
	opensips-unixodbc-module opensips-presence-modules opensips-xmlrpc-module \
	opensips-perl-modules opensips-snmpstats-module opensips-xmpp-module \
	opensips-carrierroute-module opensips-berkeley-module \
	opensips-ldap-modules opensips-geoip-module opensips-regex-module \
	opensips-identity-module opensips-b2bua-module opensips-dbhttp-module \
	opensips-console

DEBVERSION:=$(shell head -n 1 debian/changelog \
                    | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
UPVERSION:=$(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[0-9.]*$$//' -e 's/.dfsg$$//')

FILENAME := opensips_$(UPVERSION).orig.tar.gz
UPFILENAME := opensips-$(UPVERSION)-tls_src.tar.gz
URL := http://opensips.org/pub/opensips/$(UPVERSION)/src/opensips-$(UPVERSION)-tls_src.tar.gz

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# Include dpatch rules
include /usr/share/dpatch/dpatch.make


# Do we want the TLS version ?
# Disabled by default due to license issues, set to non-void to enable
TLS=

# modules depending on mysql
MYSQL_MODULES = db_mysql
# modules depending on postgres
POSTGRES_MODULES = db_postgres
# modules depending on unixODBC
UNIXODBC_MODULES=db_unixodbc
# jabber module
JABBER_MODULES = jabber
# cpl related modules
CPL_MODULES = cpl-c
# module depending on radiusclient
RADIUS_MODULES = aaa_radius peering
# presence related modules
PRESENCE_MODULES = presence presence_dialoginfo presence_xml presence_mwi presence_xcapdiff pua pua_bla pua_dialoginfo pua_mi pua_usrloc pua_xmpp rls xcap_client
# XMLRPC module
XMLRPC_MODULES = mi_xmlrpc
# Perl module
PERL_MODULES = perl perlvdb
# SNMPstats module
SNMPSTATS_MODULES = snmpstats
# XMPP module
XMPP_MODULES = xmpp
# Carrierroute module
CROUTE_MODULES = carrierroute
# Berkeley DB module
BERKELEY_MODULES = db_berkeley
# LDAP modules
LDAP_MODULES = ldap h350
# GEOIP module
GEOIP_MODULES = mmgeoip
# REGEX module
REGEX_MODULES = regex
# IDENTITY module
IDENTITY_MODULES = identity
# B2BUA module
B2BUA_MODULES = b2b_entities b2b_logic
# DBHTTP module
DBHTTP_MODULES = db_http

ALL_MODULES = $(MYSQL_MODULES) $(POSTGRES_MODULES) $(UNIXODBC_MODULES) $(JABBER_MODULES) $(CPL_MODULES) $(RADIUS_MODULES) $(PRESENCE_MODULES) $(XMLRPC_MODULES) $(PERL_MODULES) $(SNMPSTATS_MODULES) $(XMPP_MODULES) $(CROUTE_MODULES) $(BERKELEY_MODULES) $(LDAP_MODULES) $(GEOIP_MODULES) $(REGEX_MODULES) $(IDENTITY_MODULES) $(B2BUA_MODULES) $(DBHTTP_MODULES)


# modules not in the "main" package or unstable modules
EXCLUDED_MODULES = $(ALL_MODULES) osp

# the same but with path prepended (needed for modules="...")
MYSQL_MOD_PATH=$(addprefix modules/, $(MYSQL_MODULES))
POSTGRES_MOD_PATH=$(addprefix modules/, $(POSTGRES_MODULES))
UNIXODBC_MOD_PATH=$(addprefix modules/, $(UNIXODBC_MODULES))
JABBER_MOD_PATH=$(addprefix modules/, $(JABBER_MODULES))
CPL_MOD_PATH=$(addprefix modules/, $(CPL_MODULES))
RADIUS_MOD_PATH=$(addprefix modules/, $(RADIUS_MODULES))
PRESENCE_MOD_PATH=$(addprefix modules/, $(PRESENCE_MODULES))
XMLRPC_MOD_PATH=$(addprefix modules/, $(XMLRPC_MODULES))
PERL_MOD_PATH=$(addprefix modules/, $(PERL_MODULES))
SNMPSTATS_MOD_PATH=$(addprefix modules/, $(SNMPSTATS_MODULES))
XMPP_MOD_PATH=$(addprefix modules/, $(XMPP_MODULES))
CROUTE_MOD_PATH=$(addprefix modules/, $(CROUTE_MODULES))
BERKELEY_MOD_PATH=$(addprefix modules/, $(BERKELEY_MODULES))
LDAP_MOD_PATH=$(addprefix modules/, $(LDAP_MODULES))
GEOIP_MOD_PATH=$(addprefix modules/, $(GEOIP_MODULES))
REGEX_MOD_PATH=$(addprefix modules/, $(REGEX_MODULES))
IDENTITY_MOD_PATH=$(addprefix modules/, $(IDENTITY_MODULES))
B2BUA_MOD_PATH=$(addprefix modules/, $(B2BUA_MODULES))
DBHTTP_MOD_PATH=$(addprefix modules/, $(DBHTTP_MODULES))

ifeq (cc, $(CC))
	CC = gcc
endif

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
	CFLAGS += -O2
endif

# force lib (versus lib64) and SMP support all the time
VARS = LIBDIR=lib ISSMP=yes TLS=$(TLS)

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp
build-stamp: patch-stamp configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) all skip_modules="$(EXCLUDED_MODULES)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(MYSQL_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(POSTGRES_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(UNIXODBC_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(JABBER_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(CPL_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(RADIUS_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(PRESENCE_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(XMLRPC_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(PERL_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(SNMPSTATS_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(XMPP_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(CROUTE_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(BERKELEY_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(LDAP_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(GEOIP_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(REGEX_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(IDENTITY_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(B2BUA_MOD_PATH)" cfg-target=/etc/opensips/
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) modules modules="$(DBHTTP_MOD_PATH)" cfg-target=/etc/opensips/

	# generate the utils db_berkeley
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) utils include_modules="db_berkeley"

	touch build-stamp

clean: real-clean unpatch
real-clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) $(VARS) include_modules="$(ALL_MODULES)" proper
	rm -f cfg.tab.h
	rm -f utils/opensipsunix/opensipsunix.o utils/opensipsunix/opensipsunix
	rm -f utils/db_berkeley/bdb_recover.o utils/db_berkeley/bdb_recover

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/opensips
	# opensips base package
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install skip_modules="$(EXCLUDED_MODULES)" \
		basedir=$(CURDIR)/debian/opensips \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips

	find $(CURDIR)/debian/opensips/etc/opensips -type f -exec chmod -x {} \;
	sed -i -e "s/^PATH.*//" $(CURDIR)/debian/opensips/usr/sbin/opensipsctl
	rm -f  $(CURDIR)/debian/opensips/usr/sbin/osipsconsole

	# install only the mysql module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(MYSQL_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-mysql-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-mysql-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-mysql-module

	# install only the postgres module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(POSTGRES_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-postgres-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-postgres-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-postgres-module

	# install only the unixodbc module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(UNIXODBC_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-unixodbc-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-unixodbc-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-unixodbc-module

	# install only the jabber module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(JABBER_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-jabber-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-jabber-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-jabber-module

	# install only the cpl module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(CPL_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-cpl-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-cpl-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-cpl-module

	# install only the radius modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(RADIUS_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-radius-modules \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-radius-modules \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-radius-modules

	# install only the presence modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(PRESENCE_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-presence-modules \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-presence-modules \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-presence-modules

	# install only the xmlrpc module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(XMLRPC_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-xmlrpc-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-xmlrpc-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-xmlrpc-module

	# install only the perl modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(PERL_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-perl-modules \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-perl-modules \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-perl-modules

	# install only the snmpstats module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(SNMPSTATS_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-snmpstats-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-snmpstats-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-snmpstats-module

	# install only the xmpp module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(XMPP_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-xmpp-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-xmpp-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-xmpp-module

	# install only the carrierroute module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(CROUTE_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-carrierroute-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-carrierroute-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-carrierroute-module

	# install only the db_berkeley module
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(BERKELEY_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-berkeley-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-berkeley-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-berkeley-module

	# install only the ldap modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(LDAP_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-ldap-modules \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-ldap-modules \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-ldap-modules

	# install only the geoip modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(GEOIP_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-geoip-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-geoip-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-geoip-module

	# install only the regex modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(REGEX_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-regex-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-regex-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-regex-module

	# install only the identity modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(IDENTITY_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-identity-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-identity-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-identity-module

	# install only the b2bua modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(B2BUA_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-identity-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-identity-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-identity-module

	# install only the db_http modules
	CC="$(CC)" CFLAGS="$(CFLAGS)" $(VARS) $(MAKE) install-modules-all modules="$(DBHTTP_MOD_PATH)"  \
		basedir=$(CURDIR)/debian/opensips-identity-module \
		prefix=/usr \
		cfg-prefix=$(CURDIR)/debian/opensips-identity-module \
		cfg-target=/etc/opensips/ \
		doc-dir=share/doc/opensips-identity-module

	# install only the opensips console tool
	$(MAKE) install-console \
		basedir=$(CURDIR)/debian/opensips-console \
		prefix=/usr

	# the modules packages all ship an empty /usr/sbin directory, 
	# let's clean that up
	for p in $(ALL_PACKAGES); \
		do rmdir --ignore-fail-on-non-empty $(CURDIR)/debian/$$p/usr/sbin; done

# This single target is used to build all the packages, all at once, or
# one at a time. So keep in mind: any options passed to commands here will
# affect _all_ packages. Anything you want to only affect one package
# should be put in another target, such as the install target.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples --exclude=".svn"
#	dh_installlogrotate
	dh_installinit -popensips -- defaults 23
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip --dbg-package=opensips-dbg
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-independent packages using the common target
binary-indep: build install
# We have nothing to do by default.

binary: binary-indep binary-arch

print-version:
	@@echo "Debian version:          $(DEBVERSION)"
	@@echo "Upstream version:        $(UPVERSION)"

get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]||mkdir -p ../tarballs
	@@echo Downloading $(FILENAME) from $(URL) ...
	@@wget -N -nv -T10 -t3 -O ../tarballs/$(FILENAME) $(URL)

.PHONY: build clean binary-indep binary-arch binary install configure patch unpatch real-clean
