#
# OpenSIPS Parallel Forking configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# Please refer to the OpenSIPS Manuals at:
#      https://opensips.org/Documentation/Manuals
# for an explanation of available statements, functions and parameters.
#
# We start from the default SIP 2 SIP calling setup. What we do here with the
#   calls to user is to send them to the registered contacts, but also to
#   a pre-configured mobile number of the user. So parallel forking to SIP
#   and mobile devices.
# For this purpose we consider an extra column in the subscriber table:
#   * "did", default null, string(64) - the DID for parallel ringing
# Note that we have no authentication or authorization here,
#   this is just an example


####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

udp_workers=4

/* uncomment the next line to enable the auto temporary blacklisting of 
   not available destinations (default disabled) */
#disable_dns_blacklist=no

/* uncomment the next line to enable IPv6 lookup after IPv4 dns 
   lookup failures (default disabled) */
#dns_try_ipv6=yes


socket=udp:127.0.0.1:5060   # CUSTOMIZE ME



####### Modules Section ########

#set module path
mpath="/usr/local/lib/opensips/modules/"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)

#### Record Route Module
loadmodule "rr.so"
/* do not append from tag to the RR (no need for this script) */
modparam("rr", "append_fromtag", 0)

#### MAX ForWarD module
loadmodule "maxfwd.so"

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### USeR LOCation module
loadmodule "usrloc.so"
modparam("usrloc", "nat_bflag", "NAT")
modparam("usrloc", "working_mode_preset", "single-instance-no-db")

#### REGISTRAR module
loadmodule "registrar.so"
modparam("registrar", "tcp_persistent_flag", "TCP_PERSISTENT")
/* uncomment the next line not to allow more than 10 contacts per AOR */
#modparam("registrar", "max_contacts", 10)

#### ACCounting module
loadmodule "acc.so"
/* what special events should be accounted ? */
modparam("acc", "early_media", 0)
modparam("acc", "report_cancels", 0)
/* by default we do not adjust the direct of the sequential requests.
   if you enable this parameter, be sure to enable "append_fromtag"
   in "rr" module */
modparam("acc", "detect_direction", 0)

#### DB MYSQL module
loadmodule "db_mysql.so"

#### DIALOG module
loadmodule "dialog.so"
modparam("dialog", "db_mode", 0)  # no DB
# we need the dialog module mainly for accouting with CDRs,
#   not for the call forking

#### SQL OPerationS module
loadmodule "sqlops.so"
modparam("sqlops","db_url","mysql://opensips:opensipsrw@localhost/opensips")

loadmodule "proto_udp.so"

####### Routing Logic ########

# main request routing logic

route{

	if (!mf_process_maxfwd_header(10)) {
		send_reply(483,"Too Many Hops");
		exit;
	}

	if (has_totag()) {

		# handle hop-by-hop ACK (no routing required)
		if ( is_method("ACK") && t_check_trans() ) {
			t_relay();
			exit;
		}

		# sequential request within a dialog should
		# take the path determined by record-routing
		if ( !loose_route() ) {
			# we do record-routing for all our traffic, so we should not
			# receive any sequential requests without Route hdr.
			send_reply(404,"Not here");
			exit;
		}

		# route it out to whatever destination was set by loose_route()
		# in $du (destination URI).
		route(relay);
		exit;
	}

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans())
			t_relay();
		exit;
	}

	# absorb retransmissions, but do not create transaction
	t_check_trans();

	if ( !(is_method("REGISTER")  ) ) {
		if (is_myself("$fd")) {
			
		} else {
			# if caller is not local, then called number must be local
			if (!is_myself("$rd")) {
				send_reply(403,"Relay Forbidden");
				exit;
			}
		}

	}

	# preloaded route checking
	if (loose_route()) {
		xlog("L_ERR",
			"Attempt to route with preloaded Route's [$fu/$tu/$ru/$ci]");
		if (!is_method("ACK"))
			send_reply(403,"Preload Route denied");
		exit;
	}

	# record routing
	if (!is_method("REGISTER|MESSAGE"))
		record_route();

	# account only INVITEs
	if (is_method("INVITE")) {
		create_dialog();
		do_accounting("log", "cdr");
	}

	
	if (!is_myself("$rd")) {
		append_hf("P-hint: outbound\r\n"); 
		route(relay);
	}

	# requests for my domain
	if (is_method("PUBLISH|SUBSCRIBE")) {
		send_reply(503, "Service Unavailable");
		exit;
	}

	if (is_method("REGISTER")) {
		# store the registration and generate a SIP reply
		if (!save("location"))
			xlog("failed to register AoR $tu\n");

		exit;
	}

	if ($rU==NULL) {
		# request with no Username in RURI
		send_reply(484,"Address Incomplete");
		exit;
	}

	# remember callee's SIP URI, lookup() will change the RURI
	$avp(callee) = "sip:"+$rU+"@"+$rd;

	# do lookup with method filtering
	if (!lookup("location","method-filtering")) {
		t_reply(404, "Not Found");
		exit;
	}

	# we have one or multiple registrations of SIP devices
	xlog("[$ci] $avp(callee) has SIP branches [$(msg.branch.uri[*])]\n");

	# now check for the mobile DID in the subscriber table
	sql_query("select did from subscriber where username='$(avp(callee){uri.user})' and domain='$(avp(callee){uri.domain})' ", "$avp(did)");

	if ($rc<0 || $avp(did)==NULL) {

		xlog("unable to find a did for the user $avp(callee)\n");

	} else {

		# do parallel forking to it by adding it as new branch
		$msg.branch = "sip:"+$avp(did)+"@IP_OF_PSTN_CARRIER";
		# set the "pstn" named flag for this branch
		$msg.branch.flag(pstn) = 1;

	}


	# when routing via usrloc, log the missed calls also
	do_accounting("log","missed");

	# this t_rely will take all the branches we collected so
	# far (SIP and PSTN) and send them out in the same time
	route(relay);
}


route[relay] {
	# for INVITEs enable some additional helper routes
	if (is_method("INVITE")) {
		t_on_branch("per_branch_ops");
		t_on_reply("handle_nat");
		t_on_failure("missed_call");
	}

	xlog("[$ci] t_relay to $avp(callee) with branches [$(msg.branch.uri[*])]\n");

	if (!t_relay()) {
		send_reply(500,"Internal Error");
	}
	exit;
}




branch_route[per_branch_ops] {
	xlog("[$ci] new branch $T_branch_idx going to $ru/$du, is_pstn = $tm.branch.flag(pstn)\n");
}


onreply_route[handle_nat] {
	xlog("incoming $rs/$rr reply received on branch $T_branch_idx\n");
}


failure_route[missed_call] {

	xlog("[$ci] final reply $T_reply_code on branch $T_branch_idx, is_pstn = $tm.branch.flag(pstn)\n");

	if (t_was_cancelled()) {
		exit;
	}

	# uncomment the following lines if you want to block client 
	# redirect based on 3xx replies.
	##if (t_check_status("3[0-9][0-9]")) {
	##t_reply(404,"Not found");
	##	exit;
	##}

	
}

