html {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}

body {
	padding: 20px;
	margin: 0px auto;
	width: 80%;
	/* margin: 5px 50px 5px 50px auto; */
	background: #fff;
	color: #666;
}

p.c2 {
	color: #fff;
	background-color: #a0a0d0;
	border: solid 1px #606090;
	padding: 1px
}

a {
	color: #041fc5;
	text-decoration: none;
}

a:hover {
	color: #185662;
	text-decoration: underline;
}

div.abstract {
	border: solid 2px;
	padding-left: 10pt;
	padding-right: 10pt;
}

pre.screen {
	font-family:monospace;
	white-space: pre;
	background-color: #fefeee;
	border: 1px solid #99cccc;
	color: #000;
	padding-left: 15px;
}

pre.programlisting {
	font-family: monospace;
	white-space: pre;
	background-color: #eee;
	border: 1px solid #bfbfbf;
	color: #000;
	padding: 7px 15 7px 15px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

h1 {
	margin: 5px 0 0;
	font-variant: small-caps;
	font-size: 24px;
	padding: 5px;
	text-align: center;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.2em #000;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, #528c5a, #c3d7bc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#528c5a), to(#c3d7bc)):
	background: -webkit-linear-gradient(top, #528c5a, #c3d7bc);
	background: -ms-linear-gradient(top, #528c5a, #c3d7bc);
	background: -o-linear-gradient(top, #528c5a, #c3d7bc);
}

.title a {
	color: #000; 
	text-decoration: none;
}

.title a:active {
	text-decoration: none;
}

.title a:visited {
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

h2 {       
	color: #185662;
	padding: 3px 10px 3px 10px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, #528c5a, #c3d7bc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#528c5a), to(#c3d7bc)):
	background: -webkit-linear-gradient(top, #528c5a, #c3d7bc);
	background: -ms-linear-gradient(top, #528c5a, #c3d7bc);
	background: -o-linear-gradient(top, #528c5a, #c3d7bc);
}

h2 a {
	color: #000; 
	text-decoration: none;
}

h2 a:active {
	color: #000; 
	text-decoration: none;
}

h2 a:visited {
	color: #000; 
	text-decoration: none;
}

h2 a:hover {
	color: #000; 
	text-decoration: none;
}

h3.title {
	color: #185662;
	font-style: italic;
	font-weight: bold;
}

div.section {
	margin-left: 10px;
}

h3 a {
	color: #000; 
	text-decoration: none;
}

h3 a:active {
	color: #000; 
	text-decoration: none;
}

h3 a:visited {
	color: #000; 
	text-decoration: none;
}

h3 a:hover {
	color: #000; 
	text-decoration: none;
}

h3.author {
	color: #185662;
	font-weight: bold;
}

h3.editor {
	font-weight: bold;
	font-style: italic;
	font-size: 11px;
	margin: 0 0 0 20px;
}

div.affiliation,div.editor code.email,div.author code.email {
	margin-left: 20px;
}

h4 {
	font-weight: bold;
}

h4.editedby {
	color: #185662;
}

table {
	border: none;
	border-spacing: 0;
}

table.important {
	font-style: italic;
	border: solid 2px #ff0000;
	width: 70%;
	margin-left: 15%;       
}

table.caution {
	font-style: italic;
	border: ridge 2px #ffff00;
	width: 70%;
	margin-left: 15%;       
}

table.note {
	font-style: italic;
	border: solid 1px #000;
	width: 70%;
	margin-left: 15%;       
}

table.tip {
	font-style: italic;
	border: solid 1px #000;
	width: 70%;
	margin-left: 15%;       
}

table.warning {
	font-style: italic;
	font-weight: bold;
	border: ridge 4px #ff0000;
	width: 70%;
	margin-left: 15%;       
}

div.variablelist {
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	padding-left: 20px;
}

.varlistempty {
	font-weight: bold;
	margin-top: 10px;
	color: #fff;
	background-color: #a0a0d0;
	border: solid 1px #606090;
	padding: 1px
}

div.navfooter {
	color: #000;
	background-color: #efeff8;
	padding: 5px;
	margin-top: 10px;
	width: 100%;
	border: thin solid #a0a0d0;
}

div.nukefooter {
	color: #000;
	background-color: #B0E0E6;
	padding: 5px;
	margin-top: 10px;
	width: 100%;
	border: thin solid #a0a0d0;
}

div.navheader {
	color: #000;
	background-color: #efeff8;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	border: thin solid #a0a0d0;
}

div.sect1,div.sect2,div.sect3 {
	margin-left: 20px;
}

div.example,div.toc {
	color: #185662;
	border: 1px solid #bfbfbf;
	padding: 15px 20px;
	background-color: #e7f7df;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div.toc {
	margin-left: 20px;
	margin-right: 20px;
}

p.copyright {
	margin: 0 0 3px 0;
}

div.authorgroup {
	margin: 0 0 10px 0;
}

hr {
	width: 80%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

span.emphasis {
	font-style: italic;
	font-weight: bold;
}

td,th {
	padding: 3px;
	border: none;
	vertical-align: text-top;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}

th {
	font-style: normal;
	color: #185662;
}

tr.answer td {
	font-weight: normal;
	font-size: 14px;
}

div.list-of-examples {
	color: #185662;
}

div.warning {
	padding-left: 9px;
	padding-right: 9px;
	border: 1px solid #c09853;
	background-color: #fcf8e3;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-right: 5px;
}

div.note {
	padding-left: 9px;
	padding-right: 9px;
	border: 1px solid #3a87ad;
	background-color: #d9edf7;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div.revhistory {
	padding-top: 15px;
	width: 50%;
}
