#
# OpenSIPS Load-Balancer configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# Please refer to the OpenSIPS Manuals at:
#      https://docs.opensips.org/
# for an explanation of available statements, functions and parameters.
#


####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

udp_workers=4

/* uncomment the next line to enable the auto temporary blacklisting of 
   not available destinations (default disabled) */
#disable_dns_blacklist=no

/* uncomment the next line to enable IPv6 lookup after IPv4 dns 
   lookup failures (default disabled) */
#dns_try_ipv6=yes


socket=udp:127.0.0.1:5060   # CUSTOMIZE ME



####### Modules Section ########

#set module path
mpath="/usr/local/lib/opensips/modules/"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)

#### Record Route Module
loadmodule "rr.so"
/* do not append from tag to the RR (no need for this script) */
modparam("rr", "append_fromtag", 0)

#### MAX ForWarD module
loadmodule "maxfwd.so"

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### MYSQL module
loadmodule "db_mysql.so"

#### DIALOG module
loadmodule "dialog.so"
modparam("dialog", "db_mode", 1)
modparam("dialog", "db_url", "mysql://opensips:opensipsrw@localhost/opensips")

#### LOAD BALANCER module
loadmodule "load_balancer.so"
modparam("load_balancer", "db_url","mysql://opensips:opensipsrw@localhost/opensips")
# ping every 30 secs the failed destinations
modparam("load_balancer", "probing_interval", 30)
modparam("load_balancer", "probing_from", "sip:pinger@127.0.0.1:5060")
# consider positive ping reply the 404 
modparam("load_balancer", "probing_reply_codes", "404")


loadmodule "proto_udp.so"

####### Routing Logic ########

# main request routing logic

route{

	if (!mf_process_maxfwd_header(10)) {
		send_reply(483,"Too Many Hops");
		exit;
	}

	if (has_totag()) {

		# handle hop-by-hop ACK (no routing required)
		if ( is_method("ACK") && t_check_trans() ) {
			t_relay();
			exit;
		}

		# sequential request within a dialog should
		# take the path determined by record-routing
		if ( !loose_route() ) {
			# we do record-routing for all our traffic, so we should not
			# receive any sequential requests without Route hdr.
			send_reply(404,"Not here");
			exit;
		}

		# route it out to whatever destination was set by loose_route()
		# in $du (destination URI).
		route(relay);
		exit;
	}

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans())
			t_relay();
		exit;
	}

	# absorb retransmissions, but do not create transaction
	t_check_trans();

	# from now on we have only the initial requests
	if (!is_method("INVITE")) {
		send_reply(405,"Method Not Allowed");
		exit;
	}

	# initial request
	record_route();

	# not really necessary to create the dialog from script (as the
	# LB functions will do this for us automatically), but we do it
	# if we want to pass some flags to dialog (pinging, bye, etc)
	create_dialog("bye-on-timeout");
	#create_dialog("B"); #for pre 4.0 versions

	# check the direction of call
	if ( lb_is_destination($si, $sp, 1) ) {
		# call comes from our cluster, so it is an PSNT inbound call
		# mark it as load on the corresponding destination
		lb_count_call($si, $sp, 1, "pstn");
		# and route is to our main sip server to send call to end user
		$du = "sip:PROXY_IP:PROXY_PORT"; # REPLACE here with right values 
		t_relay();
		exit;
	} else
	if ($si!="PROXY_IP" /*|| $sp!=PROXY_PORT*/) {
		# call not coming neither from media server, nor from the core proxy,
		# so it should be declined
		send_reply( 403, "Forbidden");
		exit;
	}

	# here we have only initial calls from core proxy, calls to be balanced
	# to the media servers

	# detect resources and do balancing
	if ($rU=~"^1") {
		# looks like a Conference call
		$var(resources) = "conf";
	} else if ($rU=~"^2") {
		# looks like a VoiceMail call
		$var(resources) = "vm";
	} else if ($rU=~"^[0-9]+$") {
		# PSTN call, but the GWs supports only G711
		# for calls without G711, transcoding will be used on the GW
		if ( !codec_exists("G711") ) {
			$var(resources) = "transc;pstn";
		} else {
			$var(resources) = "pstn";
		}
	} else {
		send_reply(404,"Destination not found");
		exit;
	}

	# now do the LB with the discovered resources
	# LB function returns negative if no suitable destination (for 
	#    requested resources) is found, or if all destinations are full
	if (!lb_start(1,$var(resources))) {
		send_reply(500,"Service full");
		exit;
	}

	xlog("Selected destination is: $du\n");

	# send it out
	route(relay);
}


route[relay] {
	# for INVITEs enable some additional helper routes
	if (is_method("INVITE")) {
		t_on_branch("per_branch_ops");
		t_on_reply("handle_nat");
		t_on_failure("failed_call");
	}

	if (!t_relay()) {
		send_reply(500,"Internal Error");
	}
	exit;
}




branch_route[per_branch_ops] {
	xlog("new branch at $ru\n");
}


onreply_route[handle_nat] {
	xlog("incoming reply\n");
}


failure_route[failed_call] {
	if (t_was_cancelled()) {
		exit;
	}

	# let's see if we should do LB failover and try another destination

	# was a destination failure ? (we do not want to do failover
	# if it was a call setup failure, so we look for 500 and 600
	# class replied and for local timeouts)
	if ( t_check_status("5[0-9][0-9]") ||
	(t_check_status("408") && t_local_replied("all")) ) {
		# this is a case for failover
		xlog("REPORT: LB destination $du failed with code $T_reply_code\n");
		# mark failed destination as disabled 
		lb_disable_dst();
		if ( lb_next() ) {
			t_on_failure("failed_call");
			xlog("New selected destination is: $du\n");
			t_relay();
		} else {
			t_reply(500,"No capacity left");
		}
		exit;
	}
}

