#
# OpenSIPS Redirect Server configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# Please refer to the OpenSIPS Manuals at:
#      https://opensips.org/Documentation/Manuals
# for an explanation of available statements, functions and parameters.
#
# Here we implement a SIP redirect server by using $MSG.BRANCH (message
#   branches) in order to automatically push the SIP URI into the CONTACT
#   header to be added in the 302 reply. The SIP URIs to redirect to are
#   loaded from DB (based on R-URI of the incoming INVITE) and pushed into
#   the CONTACT hdr via the $msg.branch variable
# We assume the mysql table "lcr_table" as
#    "destination_did", not null, unique, string(64) - DID to be redirected
#    "gw_uri", not null, string(64) - the SIP URI where to redirect
#    "gw_prio", not null, string(32) - Q value of the SIP URI
#

####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

udp_workers=4

socket=udp:127.0.0.1:5060   # CUSTOMIZE ME


####### Modules Section ########

#set module path
mpath="/usr/local/lib/opensips/modules/"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### DB MYSQL module
loadmodule "db_mysql.so"

#### SQL OPerationS module
loadmodule "sqlops.so"
modparam("sqlops","db_url","mysql://opensips:opensipsrw@localhost/opensips")

loadmodule "proto_udp.so"

####### Routing Logic ########

# main request routing logic

route {
	if ( $(si{ip.matches,192.168.1.1/24})==1 && $rm=="INVITE") {

		# the the SQL query to load the set of GW + PRIOrities (Q value)
		sql_query("select gw_uri,gw_prio from lcr_table where destination_did='$rU'", "$avp(gw_uri);$avp(gw_prio)");
		if ($rc<0) {
			t_reply( 404, "Destination not found");
			exit;
		}

		# here we have a set of GW URIs and GW PRIOs (same size) to be added
		# to the contact hdr.
		while ( $avp(gw_uri)!=NULL ) {

			# add the SIP URI as new branch
			$msg.branch = $avp(gw_uri);
			# and the Q value to the branch
			$msg.branch.q = $avp(gw_prio);

			# delete the last used values
			$avp(gw_uri) = NULL;
			$avp(gw_prio) = NULL;

		}

		# send the reply now
		t_reply( 302,"LCR Redirect");

	} else {

		send_reply( 403, "You are not allowed here!" );

	}
	exit;
}
