#
# OpenSIPS Redirect Server configuration script
#     by OpenSIPS Solutions <team@opensips-solutions.com>
#
# Please refer to the OpenSIPS Manuals at:
#      https://opensips.org/Documentation/Manuals
# for an explanation of available statements, functions and parameters.
#
#  Here we implement a SIP redirect server by using $MSG.BRANCH (message
#	branches) in order to automatically push the SIP URI into the CONTACT
#	header to be added in the 302 reply. The SIP URIs to rediret to are
#	the registrations of a user - if we call to a user, we will get back
#	a redirect with his registrations
#

####### Global Parameters #########

/* uncomment the following lines to enable debugging */
#debug_mode=yes

log_level=3
xlog_level=3
stderror_enabled=no
syslog_enabled=yes
syslog_facility=LOG_LOCAL0

udp_workers=4

socket=udp:127.0.0.1:5060   # CUSTOMIZE ME


####### Modules Section ########

#set module path
mpath="/usr/local/lib/opensips/modules/"

#### SIGNALING module
loadmodule "signaling.so"

#### StateLess module
loadmodule "sl.so"

#### Transaction Module
loadmodule "tm.so"
modparam("tm", "fr_timeout", 5)
modparam("tm", "fr_inv_timeout", 30)
modparam("tm", "restart_fr_on_each_reply", 0)
modparam("tm", "onreply_avp_mode", 1)

#### SIP MSG OPerationS module
loadmodule "sipmsgops.so"

#### FIFO Management Interface
loadmodule "mi_fifo.so"
modparam("mi_fifo", "fifo_name", "/run/opensips/opensips_fifo")
modparam("mi_fifo", "fifo_mode", 0666)

#### USeR LOCation module
loadmodule "usrloc.so"
modparam("usrloc", "working_mode_preset", "single-instance-no-db")

#### REGISTRAR module
loadmodule "registrar.so"


loadmodule "proto_udp.so"

####### Routing Logic ########

# main request routing logic

route {

	# accept registrations (maybe you can add here some auth)
	if (is_method("REGISTER")) {
		# store the registration and generate a SIP reply
		if (!save("location"))
			xlog("failed to register AoR $tu\n");
		exit;
	}

	if ( $(si{ip.matches,192.168.1.1/24})==1 && $rm=="INVITE") {

		# do the registrations lookup, to find ALL user's registrations
		if ( lookup( "location", "to-branches-only") ) {

			# user's registrations are already pushed into message
			# branches, with Q values, sockets and everything
			xlog("found branches are < $(msg.branch.uri[*]) >\n");
		}

		# just send the reply now, the message branches will automatically
		# be pushed as CONTACT in the reply
		t_reply( 302,"LCR Redirect");

	} else {

		send_reply( 403, "You are not allowed here!" );

	}
	exit;
}
